<div id="contenedor-principal">
  <div id="izquierda">
      <!-- Contenido del div izquierdo -->
      <h2>Alumnos</h2>
      <ul class="cajaul">
        <li></li>
      </ul>
      <div id="contenedor-botones">
        <button>Magia</button>
        <button>A jugar</button>
        <button>Generar Informe</button>
    </div>
  </div>

  <div id="derecha">
      <!-- Contenido del div derecho -->
      <h2>Numero de alumnos: </h2>
      <div class="calumnosgrande">

        <div class="caja">Caja 1
          <ul></ul>
        </div>
        <div class="caja">Caja 2
          <ul></ul>
        </div>
        <div class="caja">Caja 3
          <ul></ul>
        </div>
        <div class="caja">Caja 4
          <ul></ul>
        </div>
        <div class="caja">Caja 5
          <ul></ul>
        </div>
        <div class="caja">Caja 6
          <ul></ul>
        </div>
        <div class="caja">Caja 7
          <ul></ul>
        </div>
        <div class="caja">Caja 8
          <ul></ul>
        </div>

      </div>
      
  </div>
</div>