<h1>Seguridad login api</h1>
<div style="width: 80%; margin: 0 auto;">
    
    <form #insertForm="ngForm">
        
        <label >Name</label>
        <input type="text" class="form-control" #cajaname name="cajaname">
        <label >Password</label>
        <input type="text" class="form-control" #cajapassword name="cajapassword">
        <div class="text-end">
            <button class="btn btn-outline-success" (click)="BuscarToken()">
                Crear
            </button>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <td>idEmpleado</td>
                <td>apellido</td>
                <td>oficio</td>
                <td>salario</td>
                <td>director</td>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let empleado of empleados;let i=index" >
                <td>{{empleado.idEmpleado}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.oficio}}</td>
                <td>{{empleado.salario}}</td>
                <td>{{empleado.director}}</td>
            </tr>
        </tbody>
    </table>
</div>